$font-helvetica45: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", sans-serif;
$font-helvetica55: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", sans-serif;
$font-helvetica65: "HelveticaNeueW01-65Medi", "HelveticaNeueW02-65Medi", "HelveticaNeueW10-65Medi", sans-serif;
$font-helvetica75: "HelveticaNeueW01-75Bold", "HelveticaNeueW02-75Bold", "HelveticaNeueW10-75Bold", sans-serif;

.game-container {
  margin: auto;
//  width: 300px;
//  background-image:url('http://www.maslona.com/logos/minesweeper_logo2.gif');
  margin-bottom: 5px;
}

.format-header {
  margin: auto;
  width: auto;
  padding: 50px;
  background-color: red;
}

.center {
  margin: auto;
  text-align:center;
}

.top {
  text-align: top;
  background-color: blue;
}