<div ng-controller="GameController as gameCtrl" class = "game-container center">
    <div class="format-header center">
        <!--<h2>Minesweeeeeeper</h2>-->
        <div ng-controller="SubmitGameController" class="form">
            <form novalidate>
                <div class="form-wrapper">
                    <div class="form-names">
                        <div class="rows">Rows:<br /></div>
                        <div class="cols">Columns:<br /></div>
                        <div class="mines">Mines:<br /></div>
                    </div>
                    <div>
                        <input type="text" ng-model="gameCtrl.rows"/><br />
                        <input type="text" ng-model="gameCtrl.cols"/><br />
                        <input type="text" ng-model="gameCtrl.mines"/><br />
                        <!--<button ng-click="reset()">RESET</button>-->
                        <!--<button ng-click="update(user)">SAVE</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button ng-click="gameCtrl.startGame($scope)" id="start-button"
            ng-hide="gameCtrl.state === 'Playing'">START
    </button>
    <div ng-repeat="row in gameCtrl.game._grid">
        <button ng-repeat="cell in row" class="cell-button" ng-class="{ flagged: cell._isFlagged, mine: cell.isMine() && cell.isRevealed(), buttonrevealed: cell.isRevealed()}"
                ng-click="gameCtrl.game.reveal($parent.$index, $index)"
                >
            <div right-click-flag="cell.toggleFlag()" ng-class="{ revealed: cell.isRevealed()&& !cell.isMine(),
                revealed0: cell.isRevealed() && cell.numOfMineNeighbors()===0 && !cell.isMine(),
                revealed1: cell.isRevealed() && cell.numOfMineNeighbors()===1 && !cell.isMine(),
                revealed2: cell.isRevealed() && cell.numOfMineNeighbors()===2 && !cell.isMine(),
                revealed3: cell.isRevealed() && cell.numOfMineNeighbors()===3 && !cell.isMine(),
                revealed4: cell.isRevealed() && cell.numOfMineNeighbors()===3 && !cell.isMine(),
                transparent: (!cell.isRevealed() || cell.isMine())}">
                <!--TODO better way to do this number thing..?-->
                {{cell._mineNeighbors}}
            </div>
        </button>
    </div>
    <!--TODO game over / won game-->
    <span ng-class="{box: gameCtrl.game.gameOver(), popUpControl: gameCtrl.game.gameOver()}">
    </span>
</div>