<!--<div class="format-header center">-->
    <!--<h2>Minesweeeeeeper</h2>-->
    <!--<div ng-controller="SubmitGameController" class="form">-->
        <!--<form novalidate>-->
            <!--<div class="form-wrapper">-->
                <!--<div class="form-names">-->
                    <!--<div class="rows">Rows:<br /></div>-->
                    <!--<div class="cols">Columns:<br /></div>-->
                    <!--<div class="mines">Mines:<br /></div>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="text" ng-model="user.rows"/><br />-->
                    <!--<input type="text" ng-model="user.cols"/><br />-->
                    <!--<input type="text" ng-model="user.mines"/><br />-->
                    <!--<button ng-click="reset()">RESET</button>-->
                    <!--<button ng-click="update(user)">SAVE</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->